.content{
    display: flex;
    background: linear-gradient(to right, #77cfa6, #07a3fd);
    height: 5em;


}
#img1{
    max-width: 100%; /* La imagen ocupará como máximo el 100% del ancho del contenedor */
    height: auto;
    width: 180vh;
}

.div1{
    width: 1200px;
    display: flex;
   
}
.div2{
    width: 320px;
    display: flex;
    
}





.contacto{
    
  color: aliceblue;
  width: 100px;
  
}

.css{
    color: aliceblue;
    width: 40px;
    
}

.html{
    color: aliceblue;
    width: 60px;
    
}

.conent2{
    position: relative;
  display: inline-block;
}

button{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 130px;
    background: linear-gradient(rgb(0, 217, 255),rgb(42, 228, 5));
    font-size: x;
    color: azure;
    border: none;


}

footer{
    display: flex;
    background-color: aqua;
    background: linear-gradient(transparent, rgb(21, 131, 196)
    );
}

.content5{
    background-color: #ffffff;
    width: 100%;
}

.content6{
    background-color: #ffffff;
    width: 100%;
}

.content7{
    background:linear-gradient(rgb(119, 189, 236), rgb(146, 255, 191))
}

.content8{
    background:linear-gradient(rgb(19, 180, 113), rgb(152, 238, 238));
    border-radius: 20px;
   
    width: 100%;
   
}
.cuadrado{
    background-color: rgb(205, 163, 245);
    border: 2px solid #000; /* Define un borde de 2px de ancho y color negro */
    border-color: #00adfd;
   
    
    
}









